attrs==21.2.0
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
clickclick==20.10.2
connexion==2.7.0
Flask==2.0.1
flask-marshmallow==0.14.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
gunicorn==20.1.0
idna==2.10
inflection==0.5.1
iniconfig==1.1.1
isodate==0.6.0
itsdangerous==2.0.1
Jinja2==3.0.1
jsonschema==3.2.0
MarkupSafe==2.0.1
marshmallow==3.12.2
marshmallow-sqlalchemy==0.26.1
openapi-schema-validator==0.1.5
openapi-spec-validator==0.3.1
packaging==21.0
pluggy==0.13.1
py==1.10.0
PyJWT==1.4.2
pyparsing==2.4.7
pyrsistent==0.18.0
pytest==6.2.4
PyYAML==5.4.1
requests==2.25.1
six==1.16.0
SQLAlchemy==1.4.20
swagger-ui-bundle==0.0.8
toml==0.10.2
urllib3==1.26.6
Werkzeug==2.0.1